<footer>
    <div class="flexCont">
        <section class="features">
            <h3 class="titleFooter">ChefPinko</h3>
        </section>
        
        <section class="features">
            <ul class="list" role="list">
                <li class="item"><a class="link" routerLink="/">Home</a></li>
                <li class="item"><a class="link" routerLink="/aboutUs">About us</a></li>
            </ul>
        </section>

        <section class="features">
            <ul class="list" role="list">
                <li class="item"><a class="link" routerLink="/catalog">Recipes</a></li>
                <li class="item"><a class="link" routerLink="/tools">Guides & Tools</a></li>
                <li class="item"><a class="link" routerLink="/classes">Classes</a></li>
            </ul>
        </section>
        <section class="features">
            <p>Follow us on</p>
            <ul class="icons" role="list">
                <li class="icon"><i class="fab fa-instagram i"></i></li>
                <li class="icon"><i class="fab fa-facebook-f f"></i></li>
                <li class="icon"><i class="fab fa-twitter t"></i></li>
            </ul>
        </section>
    </div>
</footer>